# Python
*.py[cod]
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
media/
staticfiles/
static/
.env
*.env
*.local

# IDEs
.vscode/
.idea/
*.swp

# Test coverage
.coverage
coverage.xml
*.cover

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
eggs-info/
lib/
lib64/
parts/
var/
wheels/
share/python-wheels/
.installed.cfg
*.egg-info/
MANIFEST

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache/
pytestdebug.log

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# VS Code
.vscode/
