{% load static %}
{% load omfilters %}


<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
                <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <div class="container">
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            {% comment %} <img src="{% static 'img/logo.png' %}" alt="Logo"> {% endcomment %}
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'produto:busca' %}">
                            <select class="input-select">
                                <option value="0">All Categories</option>
                                <option value="1">Category 01</option>
                                <option value="1">Category 02</option>
                            </select>
                            <input class="input" name="termo" value="{{ request.GET.termo }}" placeholder="Search here">
                            <button class="search-btn">Search</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->
                        <div>
                            <a href="#">
                                <i class="fa fa-heart-o"></i>
                                <span>Favoritos</span>
                                <div class="qty">2</div>
                            </a>
                        </div>
                        <!-- /Wishlist -->

                        <!-- Cart -->
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                {% if request.session.carrinho %}
                                <i class="fa fa-shopping-cart"></i>
                                <span>Carrinho</span>
                                <div class="qty">{{ request.session.carrinho|cart_total_qtd }}x</div>
                                {% endif %}
                            </a>
                            <div class="cart-dropdown">
                                <div class="cart-list">
                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img src="{% static 'img/product01.png' %}" alt="Produto">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">Nome do Produto</a></h3>
                                            <h4 class="product-price"><span class="qty">1x</span> R$980,00</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>
                                </div>
                                <div class="cart-summary">
                                    <small>3 Item(s) selecionados</small>
                                    <h5>SUBTOTAL: R$2940,00</h5>
                                </div>
                                <div class="cart-btns">
                                    <a href="{% url 'produto:carrinho' %}">Ver Carrinho</a>
                                    <a href="#">Pagar<i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Cart -->

                        <!-- Menu Toggle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toggle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
        </div>
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
    <div class="container">
        <div id="responsive-nav">
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="{% url 'produto:index' %}">Home</a></li>
                <li><a href="{% url 'produto:store' %}">Produtos</a></li>
                <li><a href="#">Ofertas Especiais</a></li>
                <li><a href="#">Lançamentos</a></li>
                <li><a href="#">Fones de Ouvido</a></li>
                <li><a href="#">Celulares & Smartphones</a></li>
                <li><a href="#">Notebooks</a></li>
                <li><a href="#">Acessórios</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- /NAVIGATION -->


