{% extends 'base.html' %}
{% load omfilters %}

{% block titulo %}{{ produto.nome }} | {% endblock %}

{% block conteudo %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="{% url 'produto:lista' %}">Home</a></li>
							{% if produto.category %}
							<li><a href="#">{{ produto.category.name }}</a></li>
							{% endif %}
							<li class="active">{{ produto.nome }}</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product do produto exido real  -->
					{% load static %}

					<div class="col-md-5 col-md-push-2">
							<div id="product-main-img">
									{% if produto.imagem %}
									<div class="product-preview">
											<img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
									</div>
									{% endif %}
									
									{% for variacao in variacoes %}
										{% if variacao.imagem %}
										<div class="product-preview" data-variacao-id="{{ variacao.id }}">
												<img src="{{ variacao.imagem.url }}" alt="{{ variacao.nome }}">
										</div>
										{% endif %}
									{% endfor %}
							</div>
					</div>
					
					<!-- Produts Exidos no canto da tela  -->
					<div class="col-md-2 col-md-pull-5">
							<div id="product-imgs">
									{% if produto.imagem %}
									<div class="product-preview">
											<img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
									</div>
									{% endif %}
									
									{% for variacao in variacoes %}
										{% if variacao.imagem %}
										<div class="product-preview" data-variacao-id="{{ variacao.id }}">
												<img src="{{ variacao.imagem.url }}" alt="{{ variacao.nome }}">
										</div>
										{% endif %}
									{% endfor %}
							</div>
					</div>
					
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
								<h2 class="product-name">{{ produto.nome }}</h2>
								<div>
										<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
										</div>
										<a class="review-link" href="#tab3" data-toggle="tab">10 Review(s) | Add your review</a>
								</div>
								<div>
										{% if produto.preco_marketing_promocional %}
										<h3 class="product-price" id="preco-produto">
												{{ produto.preco_marketing_promocional|formata_preco }}
												<del class="product-old-price">{{ produto.preco_marketing|formata_preco }}</del>
										</h3>
										{% else %}
										<h3 class="product-price" id="preco-produto">{{ produto.preco_marketing|formata_preco }}</h3>
										{% endif %}
										<span class="product-available" id="estoque-produto">Em estoque</span>
								</div>
								<p>{{ produto.descricao_curta }}</p>

								<div class="product-options">
										<label>
												Variações
												<select id="select-variacoes" name="vid" class="input-select">
														{% for variacao in variacoes %}
																{% if variacao.preco_promocional %}
																<option 
																		data-preco="{{ variacao.preco|formata_preco }}"
																		data-preco-promocional="{{ variacao.preco_promocional|formata_preco }}"
																		data-estoque="{{ variacao.estoque }}"
																		data-imagem="{{ variacao.imagem.url }}"
																		data-cor="{{ variacao.cor }}"
																		data-tamanho="{{ variacao.tamanho }}"
																		value="{{ variacao.id }}">
																		{% if variacao.nome %}
																		{{ variacao.nome }}
																		{% else %}
																		{{ variacao }}
																		{% endif %}
																		{% if variacao.cor or variacao.tamanho %}
																		({% if variacao.cor %}Cor: {{ variacao.cor }}{% endif %}
																		{% if variacao.cor and variacao.tamanho %} - {% endif %}
																		{% if variacao.tamanho %}Tamanho: {{ variacao.tamanho }}{% endif %})
																		{% endif %}
																</option>
																{% else %}
																<option 
																		data-preco="{{ variacao.preco|formata_preco }}"
																		data-estoque="{{ variacao.estoque }}"
																		{% comment %} data-imagem="{{ variacao.imagem.url }}" {% endcomment %}
																		data-cor="{{ variacao.cor }}"
																		data-tamanho="{{ variacao.tamanho }}"
																		value="{{ variacao.id }}">
																		{% if variacao.nome %}
																		{{ variacao.nome }}
																		{% else %}
																		{{ variacao }}
																		{% endif %}
																		{% if variacao.cor or variacao.tamanho %}
																		({% if variacao.cor %}Cor: {{ variacao.cor }}{% endif %}
																		{% if variacao.cor and variacao.tamanho %} - {% endif %}
																		{% if variacao.tamanho %}Tamanho: {{ variacao.tamanho }}{% endif %})
																		{% endif %}
																</option>
																{% endif %}
														{% endfor %}
												</select>
										</label>
								</div>

								{% if variacoes %}
								<div class="product-options">
										<div class="row" id="variacoes-cores-container">
												<div class="col-md-12">
														<p id="variacao-cor-display" class="mb-2"></p>
														<p id="variacao-tamanho-display" class="mb-2"></p>
												</div>
										</div>
								</div>
								{% endif %}

								<form action="{% url 'produto:adicionaraocarrinho' %}" id="form-add-to-cart">
									<input type="hidden" name="vid" id="input-variacao-id" value="{{ variacoes.0.id }}">
										<div class="add-to-cart">
												<div class="qty-label">
														Quantidade
														<div class="input-number">
																<input type="number" name="quantidade" value="1" min="1" max="{{ variacoes.0.estoque }}" id="input-quantidade">
																<span class="qty-up">+</span>
																<span class="qty-down">-</span>
														</div>
												</div>
												<button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Adicionar ao carrinho</button>
										</div>
								</form>

								<ul class="product-btns">
									<li>
											<a href="#" class="favoritar" data-produto="{{ produto.id }}">
													<i class="fa fa-heart"></i> Adicionar aos Favoritos
											</a>
									</li>
								</ul>
								
								<ul class="product-links">
										<li>Categoria:</li>
										{% if produto.category %}
										<li><a href="#">{{ produto.category.name }}</a></li>
										{% else %}
										<li><a href="#">Sem categoria</a></li>
										{% endif %}
								</ul>

								<ul class="product-links">
										<li>Rede Sociais:</li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
										<li><a href="#"><i class="fa fa-envelope"></i></a></li>										
								</ul>

						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
								<li><a data-toggle="tab" href="#tab2">Details</a></li>
								<li><a data-toggle="tab" href="#tab3">Reviews (3)</a></li>
							</ul>
							<!-- /product tab nav -->

							<!-- product tab content -->
							<div class="tab-content">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane fade in active">
									<div class="row">
										<div class="col-md-12">
											<p>{{ produto.descricao_longa|linebreaks }}</p>
										</div>
									</div>
								</div>
								<!-- /tab1  -->

								<!-- tab2  -->
								<div id="tab2" class="tab-pane fade in">
									<div class="row">
										<div class="col-md-12">
											<p>{{ produto.descricao_longa|linebreaks }}</p>
										</div>
									</div>
								</div>
								<!-- /tab2  -->

								<!-- tab3  -->
								<div id="tab3" class="tab-pane fade in">
									<div class="row">
										<!-- Rating -->
										<div class="col-md-3">
											<div id="rating">
												<div class="rating-avg">
													<span>4.5</span>
													<div class="rating-stars">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</div>
												</div>
												<ul class="rating">
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<div class="rating-progress">
															<div style="width: 80%;"></div>
														</div>
														<span class="sum">3</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div style="width: 60%;"></div>
														</div>
														<span class="sum">2</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">0</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">0</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">0</span>
													</li>
												</ul>
											</div>
										</div>
										<!-- /Rating -->

										<!-- Reviews -->
										<div class="col-md-6">
											<div id="reviews">
												<ul class="reviews">
													<li>
														<div class="review-heading">
															<h5 class="name">John</h5>
															<p class="date">27 DEC 2018, 8:0 PM</p>
															<div class="review-rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o empty"></i>
															</div>
														</div>
														<div class="review-body">
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
														</div>
													</li>
													<li>
														<div class="review-heading">
															<h5 class="name">John</h5>
															<p class="date">27 DEC 2018, 8:0 PM</p>
															<div class="review-rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o empty"></i>
															</div>
														</div>
														<div class="review-body">
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
														</div>
													</li>
													<li>
														<div class="review-heading">
															<h5 class="name">John</h5>
															<p class="date">27 DEC 2018, 8:0 PM</p>
															<div class="review-rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o empty"></i>
															</div>
														</div>
														<div class="review-body">
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
														</div>
													</li>
												</ul>
												<ul class="reviews-pagination">
													<li class="active">1</li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#">4</a></li>
													<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- /Reviews -->

										<!-- Review Form -->
										<div class="col-md-3">
											<div id="review-form">
												<form class="review-form">
													<input class="input" type="text" placeholder="Your Name">
													<input class="input" type="email" placeholder="Your Email">
													<textarea class="input" placeholder="Your Review"></textarea>
													<div class="input-rating">
														<span>Your Rating: </span>
														<div class="stars">
															<input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
															<input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
															<input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
															<input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
															<input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
														</div>
													</div>
													<button class="primary-btn">Submit</button>
												</form>
											</div>
										</div>
										<!-- /Review Form -->
									</div>
								</div>
								<!-- /tab3  -->
							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- Section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="title">Produtos Relacionados</h3>
						</div>
					</div>

					<!-- product -->
					{% for produto in produtos %}
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								{% if produto.imagem %}
										<img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" class="product-image">
								{% endif %}
								<div class="product-label">
										{% if produto.preco_marketing_promocional %}
										<span class="sale">-{{ produto.percentual_desconto }}%</span>
										{% endif %}
										<span class="new">NEW</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">
									{% if produto.category %}
									<p class="product-category">{{produto.category}}</p>
									{% else%}
									<p class="product-category">Sem categoria</p>
									{% endif %}
								</p>
								<h3 class="product-name"><a href="{% url 'produto:detalhe' produto.slug %}">{{ produto.nome }}</a></h3>
								{% if produto.preco_marketing_promocional %}
								<h4 class="product-price">{{ produto.preco_marketing_promocional|formata_preco }} 
										<del class="product-old-price">{{ produto.preco_marketing|formata_preco }}</del>
								</h4>
								{% else %}
								<h4 class="product-price">{{ produto.preco_marketing|formata_preco }}</h4>
								{% endif %}
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<a href="{% url 'produto:detalhe' produto.slug %}" class="add-to-cart-btn">
										<i class="fa fa-shopping-cart"></i> Comprar
								</a>
							</div>
						</div>
					</div>
					{% endfor %}
					<!-- /product -->

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /Section -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->
	</body>
</html>
{% endblock %}

<script>
	document.addEventListener('DOMContentLoaded', function() {
			const selectVariacoes = document.getElementById('select-variacoes');
			const formAddToCart = document.getElementById('form-add-to-cart');
			const inputVid = document.getElementById('input-variacao-id');
			const inputQuantidade = document.getElementById('input-quantidade');
			const precoDisplay = document.getElementById('preco-produto');
			const estoqueDisplay = document.getElementById('estoque-produto');
			const variacaoCorDisplay = document.getElementById('variacao-cor-display');
			const variacaoTamanhoDisplay = document.getElementById('variacao-tamanho-display');
			
			// Inicializa os displays de cor e tamanho com a primeira variação
			if (selectVariacoes && selectVariacoes.options.length > 0) {
					const firstOption = selectVariacoes.options[0];
					variacaoCorDisplay.textContent = `Cor: ${firstOption.getAttribute('data-cor') || 'N/A'}`;
					variacaoTamanhoDisplay.textContent = `Tamanho: ${firstOption.getAttribute('data-tamanho') || 'N/A'}`;
			}
			// Atualiza o campo vid com a primeira variação selecionada
			if (selectVariacoes.value) {
					inputVid.value = selectVariacoes.value;
			}
			// Atualiza o campo vid quando o usuário seleciona uma nova variação			
			selectVariacoes.addEventListener('change', function() {
					const selectedOption = this.options[this.selectedIndex];
					inputVid.value = this.value;
					
					// Atualiza o preço exibido quando a variação muda
					const preco = selectedOption.getAttribute('data-preco');
					const precoPromocional = selectedOption.getAttribute('data-preco-promocional');
					
					if (precoPromocional) {
							precoDisplay.innerHTML = `${precoPromocional} <del class="product-old-price">${preco}</del>`;
					} else {
							precoDisplay.innerHTML = preco;
					}
					
					// Atualiza o estoque exibido quando a variação muda
					const estoque = selectedOption.getAttribute('data-estoque');
					estoqueDisplay.textContent = `Em estoque: ${estoque}`;
					
					// Atualiza os displays de cor e tamanho
					variacaoCorDisplay.textContent = `Cor: ${selectedOption.getAttribute('data-cor') || 'N/A'}`;
					variacaoTamanhoDisplay.textContent = `Tamanho: ${selectedOption.getAttribute('data-tamanho') || 'N/A'}`;
			});
			// Atualiza o estoque máximo permitido no campo de quantidade
			selectVariacoes.addEventListener('change', function() {
					const selectedOption = this.options[this.selectedIndex];
					const estoque = selectedOption.getAttribute('data-estoque');
					inputQuantidade.setAttribute('max', estoque);
					
					// Reseta o valor do campo de quantidade para 1
					inputQuantidade.value = 1;
			});
			// Atualiza o estoque máximo permitido no campo de quantidade ao carregar a página
			const selectedOption = selectVariacoes.options[selectVariacoes.selectedIndex];
			const estoque = selectedOption.getAttribute('data-estoque');
			inputQuantidade.setAttribute('max', estoque);
			inputQuantidade.value = 1;			
	});
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">		
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/product.css' %}">
<script>
	document.addEventListener('DOMContentLoaded', function() {
			const selectVariacoes = document.getElementById('select-variacoes');
			const formAddToCart = document.getElementById('form-add-to-cart');
			const inputVid = formAddToCart.querySelector('input[name="vid"]');
			
			// Inicializa o valor do campo vid com a primeira variação selecionada
			if (selectVariacoes.value) {
					inputVid.value = selectVariacoes.value;
			}
			
			// Atualiza o campo vid quando o usuário seleciona uma nova variação
			selectVariacoes.addEventListener('change', function() {
					inputVid.value = this.value;
					
					// Opcional: Atualizar preços exibidos quando a variação muda
					const selectedOption = this.options[this.selectedIndex];
					const preco = selectedOption.getAttribute('data-preco');
					const precoPromocional = selectedOption.getAttribute('data-preco-promocional');
					
					const productPrice = document.querySelector('.product-price');
					if (precoPromocional) {
							productPrice.innerHTML = `${precoPromocional} <del class="product-old-price">${preco}</del>`;
					} else {
							productPrice.innerHTML = preco;
					}
			});
	});
	</script>